section.profile-details-container {
    box-sizing   : border-box;
    background   : #F5F5F5;
    border-radius: 8px;
    width        : 1251px;
    height       : 387px;
    margin-top   : 54px;
    margin-left  : 90px;
    margin-bottom: 73px;
    display      : flex;
    padding      : 23px 23px 27px 30px;

    /*Foto*/
    section.profile-details-esquerda {
        width: 358px;

        img {
            width        : 284px;
            height       : 280px;
            margin-bottom: 17px;
        }

        button {
            display      : block;
            border       : none;
            background   : #1890FF;
            border-radius: 4px;
            color        : white;
            padding      : 8px 19px 8px 18px;
            font-size    : 16px;
            line-height  : 24px;
            text-align   : center;
            cursor       : pointer;

            &:focus {
                outline: none;
            }
        }
    }

    /*Informações*/
    section.profile-details-direita {
        flex          : 1;
        flex-direction: column;

        .linha-superior {
            display       : flex;
            flex-direction: row;
            height        : 25px;
            margin-bottom : 11px;


            .pilula {
                background   : #FFFFFF;
                border       : 1px solid #D9D9D9;
                border-radius: 5px;
                padding      : 1px 14px 1px 14px;
                text-align   : center;
                color        : #595959;
                margin-right : 8px;
            }
        }

        .linha-inferior {
            width        : 870px;
            height       : 247px;
            background   : #FFFFFF;
            border       : 1px solid #D9D9D9;
            box-sizing   : border-box;
            border-radius: 6px;
            padding      : 8px 17px 17px 14px;

            h3 {
                font-size    : 20px;
                line-height  : 28px;
                color        : #1890FF;
                margin-bottom: 19px;
            }

            .linha {
                background   : #FFFFFF;
                border       : 1px solid #D9D9D9;
                box-sizing   : border-box;
                border-radius: 4px;
                margin-bottom: 5px;
                padding      : 8px 34px 8px 10px;
                font-size    : 16px;
                line-height  : 24px;
                color        : #737373;

                a {
                    color: #737373;
                }
            }
        }
    }

}