nav {
    width       : 100%;
    box-sizing: border-box;
    height      : 62px;
    background  : #1890FF;
    display     : flex;
    align-items : center;
    padding-left: 41px;
}

nav p {
    font-style : normal;
    font-weight: 500;
    font-size  : 24px;
    line-height: 32px;
    color      : white;
}